@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400&family=Playfair:wght@300;400&display=swap");
body {
  font-family: "JetBrains Mono", monospace;
  background-color: aquamarine;
}

.title {
  margin-left: 20px;
}
